<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SIGNUP</title>
</head>
<body>

<main class="form-signup">
<body class="text-center">
<div class="modal-content rounded-5 shadow">
<div class="modal-header p-5 pb-4 border-bottom-0">
<div class="container h-100">
<div class="row h-100 justify-content-center align-items-center">

       <h2 class="h3 mb-3 fw-normal">Sign Up</h2>
        {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> --}}
      </div>

      <div class="modal-body p-5 pt-0">
        <form action="/auth/signup" method="POST">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
          </main>
          </form>
          {{#if errorMessage}}
   {{errorMessage}}
{{/if}}

</body>
</html>






{{!-- 
<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form> --}}

