
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recikeep</title>
  </head>
  <body>

    {{! //home image main }}

    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 text-center">All your recipes (and your mom's). All in one place.</h2>
      <br>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        {{#each myRecipesArray}}
        <a href="/recipe/{{_id}}">
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
              style="background-image: url('{{imageUrl}}'); background-repeat: no-repeat; background-size: cover;"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"> {{name}}</h2>
                <p>{{description}}</p>
              </div>
            </div>
          </div>
        </a>
        {{/each}}

        {{! <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Grandpa's <br>Key Lime Pie</h2>
            </div>
        </div>
      </div> }}

        {{! <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Nora's Chocolate Chip Cookies</h2>
            <ul class="d-flex list-unstyled mt-auto">
    
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Vegan Banana Bread</h2>
            <ul class="d-flex list-unstyled mt-auto">
     
          </div>
        </div>
      </div>

 <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Grandpa's <br>Key Lime Pie</h2>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Nora's Chocolate Chip Cookies</h2>
            <ul class="d-flex list-unstyled mt-auto">
    
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Vegan Banana Bread</h2>
            <ul class="d-flex list-unstyled mt-auto">
     
          </div>
        </div>
      </div> }}

      </div>
    </div>

  </body>
</html>