body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* signup */



/* //sign in */
.form-signin{
  width: 400px;
  height: 400px;
  margin-top: 20px;
  display: inline-block;
}